<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="redisPoolConfig" class="com.jd.logistics.cache.redis.support.RedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
    </bean>
    <bean id="redisCache" class="com.jd.logistics.cache.redis.RedisCacheFactory"
          factory-method="redisCacheFromURI">
        <constructor-arg index="0" value="${redis.cache.uri}"/>
        <constructor-arg index="1" value="${redis.timeout}" type="long"/>
        <constructor-arg index="2" ref="redisPoolConfig"/>
    </bean>
    <bean id="jedisCache" class="com.jd.logistics.cache.jedis.JedisCacheFactory"
          factory-method="jedisCacheFromURI">
        <constructor-arg index="0" value="${redis.cache.uri}"/>
        <constructor-arg index="1" value="${redis.timeout}" type="int"/>
        <constructor-arg index="2" ref="redisPoolConfig"/>
    </bean>
    <bean id="redisPool" class="com.jd.logistics.cache.jedis.JedisPoolFactory"
          factory-method="jedisPoolFromURI">
        <constructor-arg index="0" value="${redis.cache.uri}"/>
        <constructor-arg index="1" value="${redis.timeout}" type="int"/>
        <constructor-arg index="2" ref="redisPoolConfig"/>
    </bean>
    <!--<bean id="redisCache" class="RedisCacheFactory"
          factory-method="redisCacheStandalone">
        <constructor-arg index="0" value="${redis.ip}:${redis.port}"/>
        <constructor-arg index="1" value="${redis.password}"/>
        <constructor-arg index="2" value="${redis.timeout}" type="long"/>
        <constructor-arg index="3" ref="redisPoolConfig"/>
    </bean>-->
    <!--<bean id="redisCache" class="RedisCacheFactory"
          factory-method="redisCacheSentinel">
        <constructor-arg index="0" value="#{'${redis.sentinel.addr}'.split(',')}" type="java.util.List"/>
        <constructor-arg index="1" value="${redis.sentinel.masterName}"/>
        <constructor-arg index="2" value="${redis.sentinel.password}"/>
        <constructor-arg index="3" value="${redis.timeout}" type="long"/>
        <constructor-arg index="4" ref="redisPoolConfig"/>
    </bean>-->

    <!--<bean id="redisPool" class="JedisPoolFactory"
          factory-method="jedisSentinelPool">
        <constructor-arg index="0">
            <list>
                <value>192.168.2.18:27380</value>
                <value>192.168.1.7:27380</value>
                <value>192.168.2.4:27380</value>
            </list>
        </constructor-arg>
        <constructor-arg index="1" value="aps"/>
        <constructor-arg index="2" value=""/>
        <constructor-arg index="3" value="1000"/>
        <constructor-arg index="4" ref="redisPoolConfig"/>
    </bean>-->
</beans>